
    /* Tyyli modaalille */
.modal {
    display: none; /* Piilotetaan modaalinen elementti oletuksena */
    position: fixed; /* Asetetaan elementti kiinni näytön reunaan */
    z-index: 1; /* Asetetaan elementin z-indeksi, jotta se näkyy muiden elementtien päällä */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Asetetaan taustaväri hieman läpinäkyväksi */
}

/* Tyyli modaalille sisällä */
.modal-content {
    background-color: #fff9f9;
    margin: 5% auto;
    flex-direction: column;
    padding: 60px;
    width: 30%;
    height: 60%;
}
.container {
    display: inline-grid;


}

/* Tyyli sulje napille */
.close {
    color: #312936;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

/* Tyyli sulje napille, kun hiiri on sen päällä */
.close:hover,
.close:focus {
    color: #ecc9ee;
    text-decoration: none;
    cursor: pointer;
}

html {
    background: #d9d8d8;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff9f9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Gopher", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
    max-width: 1200px;
    padding: 2em 2em 4em;
}

h1, h2, h4, h5, h6 {
    color: #222;
    font-family: "gopher", sans-serif;
    font-weight: 700;
    font-style: normal;
}

button {;
    font-family: "Gopher", sans-serif;
    color: #fff9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 7px;

    background: #312936;
    border-radius: 5px;
    border-style: none;

}

.button2 {;
    font-family: "Gopher", sans-serif;
    color: #312936;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 7px;

    background: #ffffff;
    border-radius: 5px;
    border-color: #312936;
    border-style: solid;


}
.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: #312936;
    width: initial;
}

.nav-link {
    display: block;
    color: #fff9f9;
    text-align: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff9f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #ecc9ee;
}

